<launch>
    <!-- Load system description -->
    <include file='$(find automated_hooking)/launch/system_description.launch'/>
    
    <!-- Local Nodes -->
    <include file='$(find automated_hookinh)/launch/crane.launch' />

    <!-- Jetson Nodes -->
    <include file='$(find automated_hooking)/launch/camera.launch'/>
</launch>