<launch>
    <!-- Load system description -->
    <include file='$(find automated_hooking)/launch/system_description.launch'/>
    

    <!-- Local Nodes -->
    <node name='gantry_node' pkg='automated_hooking' type='gantry_node.py' output='screen'/>

    <node name='tf_rerouter' pkg='automated_hooking' type='tf_rerouter.py' args='table_tag_observed table_tag map'/>
    <node name='winch_node' pkg='automated_hooking' type='winch_node.py' output='screen'/>
    <!-- <node name='controller_node' pkg='automated_hooking' type='controller_node.py' output='screen'/> -->
    <!-- <node name='hook_node' pkg='automated_hooking' type='hook_node.py' output='screen'/> -->

    <!-- Jetson Nodes -->
    <include file='$(find automated_hooking)/launch/camera_node.launch'/>
</launch>