<launch>
  <!-- START CAMERA WRAPPERS -->
  <group ns="cameras">
    <include file="$(find realsense2_camera)/launch/rs_multiple_devices.launch">
      <arg name="serial_no_camera1" value="f0172424" />
      <arg name="camera1" value="front_cam" />
      
      <arg name="serial_no_camera2" value="f0233197" />
      <arg name="camera2" value="back_cam" />
    </include>
  </group>

  <!-- START APRIL TAG WRAPPER -->
  <group ns="april_tag_wrapper">
    <!-- <remap from="/tf" to="camera/april_tag_tf" /> -->
    <!-- <remap to="/cameras/front_cam/color/image_raw/compressed" from="camera/image_rect" /> -->
    <include file="$(find apriltag_ros)/launch/continuous_detection.launch">
      <arg name="camera_name" value="/cameras/front_cam/color"/>
      <arg name="image_topic" value="image_raw"/>
    </include>
  </group>
</launch>
