<launch>
    <machine name='xavier' address='192.168.137.12' user='jetson' env-loader='~/catkin_ws/env_loader.sh' default='true'/>

    <!-- START APRIL TAGS -->
    <group ns="tag_detector_front">
        <include file="$(find automated_hooking)/launch/april_tag.launch">
            <arg name="camera_name" value="/cameras/camera_front/color"/>
            <arg name="image_topic" value="image_raw"/>
        </include>
    </group>
    <group ns="tag_detector_back">
        <include file="$(find automated_hooking)/launch/april_tag.launch">
            <arg name="camera_name" value="/cameras/camera_back/color"/>
            <arg name="image_topic" value="image_raw"/>
        </include>
    </group>

    <node name='tf_rerouter' pkg='automated_hooking' type='py2_launch.sh' args='tf_rerouter.py table_tag_observed table_tag map'/>
</launch>