<launch>
    <!-- Namespacing each robot description is the only way to have two unlinked robots described -->
    <group ns='target_description'>
        <include file='$(find automated_hooking)/launch/target_description.launch'/>
    </group>
    <group ns='gantry_description'>
        <include file='$(find gantry_description)/launch/gantry_description.launch'/>
    </group>
</launch>