<launch>
    <param name="target_description" command="$(find xacro)/xacro --inorder '$(find automated_hooking)/description/target_description.urdf'"/>
    <node name="target_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <!-- <node name="rviz" pkg="rviz" type="rviz"/> -->
    
    <node name="target_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
        <!-- <param name="use_gui" value="True"/> -->
    </node>
</launch>